.form{
    text-align: center;
    position: relative;
    top: 80px;
    color: white;
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
}
.form::before{
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background: url("https://images.unsplash.com/photo-1586769852044-692d6e3703f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29udGFjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
}
.form input{
    margin: 8px;
    height: 30px;
    width: 20%;
    border: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.form h1{
    font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #060209);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.form label{
    display: block;
}
.form .btn5{
    width: 60px;
    height: 50px;
    background: orange;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
